@model MovieRental.Models.Catalog.MovieIndexModel

@section Styles {
    <link href="~/css/CatalogIndex.css" rel="stylesheet" />
}

<div id="movies">
    <h3>Movie Catalog</h3>
    <div id="movieTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    @Html.Partial("MovieIndexSummary", movie) 
                }
            </tbody>
        </table>
    </div>
</div>